@model IEnumerable<waste_management_system.Models.Capacity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CapacityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipeOfWasteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxKg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CapacityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipeOfWasteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxKg)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CapacityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CapacityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CapacityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
